* {
  box-sizing: border-box;
}

body {
  background: #E14647;
  margin: 0;
}

h2 {
  background: #E14647;
  padding: 18px;
  color: #fff;
}

.App {
  padding: 30px;
  background: #fff;
  width: 80%;
  margin: 50px auto;
  box-shadow: 1px 2px 5px #eee;
}

input {
  width: 80%;
  padding: 6px 10px;
  background: #e8e8e8;
}

button {
  width: 20%;
  border: 0;
  padding: 6px 0;
  margin: 0;
  outline: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #4dc55b;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

li span {
  display: inline-block;
  width: 60%;
  color: #6a6a6a;
}

li > button:first-of-type {
  background: #6a6a6a;
  color: #fff;
  margin-right: 1%;
  width: 19%;
}

li > button:last-of-type {
  background: #d9534f;
  color: #fff;
}

ul > form {
  margin: 15px 0;
}